.iframe-modal-containter {
    padding-left: 52px;
    padding-right: 52px;
}

.iframe-modal-header {
    height: 32px;
    margin-top: 48px;
    font-family: Formular;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #050038;
}

.iframe-modal-input {
    height: 34px;
    margin-top: 24px;
    background: #FFFFFF;
    border: 1px solid #4262FF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
}

.iframe-modal-actions {
    margin-top: 34px;
    display: flex;
}

.iframe-modal-primary-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 101px;
    height: 47px;
    background: #4262FF;
    border-radius: 4px;
    margin-bottom: 60px;
    border: 0px;
}

.iframe-modal-primary-btn-text {
    height: 24px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.iframe-modal-secondary-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 101px;
    height: 47px;
    background: #F5F5F7;
    border-radius: 4px;
    margin-bottom: 60px;
    margin-left: 16px;
    border: 0px;
}

.iframe-modal-secondary-btn-text {
    height: 24px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #050038;
    padding-top: 11px;
    margin: 0px;
}