.build-button {
  background-color: #4023e2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.hidden {
  display: none;
}

div.miro-h2 {
  margin: 16px;
}

.plugin-image {
  width: 36px;
  height: 36px;
}

.plugin-image-container {
  display: inline-block;
}

.main-button {
  width: 92px;
  height: 92px;

  background: #4262ff;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
}

.main-buttons-container {
  margin-left: 24px;
  display: flex;
}

.main-button-image {
  margin-top: 24px;
  margin-left: 34px;
}

.main-button-text {
  margin-left: 4px;
  margin-top: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  color: #ffffff;
}

.plugin-header {
  display: flex;
}

.plugin-header-input {
  width: 224px;
  height: 18px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #050038;
  opacity: 0.5;
}

.plugin-header-image {
  width: 36px;
  height: 36px;
  padding-top: 8px;
  background: #ffffff;
  opacity: 0.2;

  border: 1px solid #050038;
  box-sizing: border-box;
  border-radius: 4px;
}

.plugin-header-label {
  padding-left: 4px;
}
